/*  variables for our project will be here */
:root {
    /*  The colours that we use often: */
    --yellow-color: rgb(222, 187, 104); 
    --white-color: rgb(255, 255, 255);
    --pink-color: rgb(153, 22, 101);
    --black-color: rgb(0, 0, 0);
  
    /* importing lato font*/
    @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
    --h1-font-size: 2rem;
    --small-font-size: 0.813rem;
    font-family: 'Poppins', sans-serif;
  }

  input[type="text"],input[type="email"] 
    {
    width: 20em;
    height:2em;
    }
  input[placeholder]
    {
    height:2em;
    }
  
  /*   assign attributes to everything + colour pallete vars here */
  
  #index_body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align:justify;
    color: rgb(255, 255, 255);
  }

  *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align:justify;
  }
  
  body, input, button {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
  }
 
  
  /*     login       */
  .login {
    position: relative;
    display: grid;
    align-items: center;
  }
  
  .login__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .loginform {
    position: relative;
    margin-inline: 1.5rem;
    background-color: rgba(240, 183, 183, 0.1);
    border: 2px solid rgba(222, 174, 78, 0.7);
    padding: 2.5rem 1rem;
    border-radius: 1.5rem;
    backdrop-filter: blur(8px);
  }
  
  .logtitle {
    text-align: center;
    font-size: var(--h1-font-size);
    margin-bottom: 1.25rem;
    color: 	#ffd562;
  }
  
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:120vh;
    background-image:url("fruitbg.jpg");
    background-position:center;
    background-size:cover;
    position:relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

  .inputcontainer, .boxarea {
    display: grid;
  }
  
  .inputcontainer {
    row-gap: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .boxarea {
    grid-template-columns: 1fr max-content;
    column-gap: .75rem;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.7);
    padding-inline: 1.25rem;
    border-radius: 4rem;
  }
  
  .userinput,
  .button {
    border: none;
    outline: none;
  }
  
  .userinput {
    width: 100%;
    background: none;
    padding-block: 1rem;
    color:rgb(239, 210, 130);

  }

  label.checkcontainerlabel{
    color:rgb(239, 130, 172);
  }

  a.forgot{
    margin-right: 10px;
    text-decoration:none;
  }
  
  .userinput::placeholder {
    color:#d2bc98e3
  }
  
  .boxarea i {
    font-size: 1.25rem;
  }
  
  .checkcontainer,
  .checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0;
    padding:0;
  }
  
  .checkcontainer {
    margin-bottom: 0rem;
    font-size: var(--small-font-size);
  }

  
  .checkcontainerinput {
    width: 3rem;
    height: 1rem;
    accent-color: var(--yellow-color);
  }
  
  .forgot {
    color: var(--yellow-color);
  }
  
  .forgot:hover {
    text-decoration: underline;
  }
  
  button{
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 4rem;
    background-color:yellow;
    color:rgb(250, 238, 238);
    font-weight: 600;
    cursor: pointer;
    padding-left: 2.5vw;
    padding-right:15px;
    margin-top:30px;
    font-weight: bold;
    font-size: 20px;
    transition: transform 0.2s;
    text-decoration: none;  
  }

  /* .button {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 4rem;
    color:rgb(250, 238, 238);
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
    padding-left: 2.5vw;
    padding-right:15px;
    margin-top:30px;
    font-weight: bold;
    font-size: 20px;
    transition: transform 0.2s;
    text-decoration: none;  
  } */
  
  .login__register {
    font-size: var(--small-font-size);
    text-align: center;
  }
  
  .login__register a {
    color: var(--yellow-color);
    font-weight: 500;
  }
  
  .login__register a:hover {
    text-decoration: underline;
  }
  
/* main css*/

#main_body{
  background-color: rgb(190, 189, 187);
  color:#ffffff
}

table{
  margin-top:4vh;
  background-color:rgb(255, 255, 255);
  width: 96%;
  color: #2e2c2cc7;
  border-collapse: collapse;
  align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: none;
    margin-bottom:5vh;
}
.table-container {
  max-height: 500px; 
  overflow-y: auto;
  border-collapse: collapse;

}

#names{
  color:#240606;
  background-color:rgba(128, 110, 110, 0.044);
  text-align:center;
}

th, td {
  padding: 12px;
  text-align: left;
}

#nav{
  background-color:#dbd7d3e8;
  height: 10vh;  
}

#spacer{
  background-color:white;
  height:20px;
  align-items:center;
  justify-content: center;
  align-self: center;
  align-content:center;
}

th {
  background: rgb(255, 255, 255);
  color:var(--black-color);
}

tr:nth-child(odd)
{
  background: rgb(251, 250, 250);
  border-bottom:1px solid rgba(0, 0, 0, 0.111);
}
tr:nth-child(even)
{
  background: white;
  border-bottom:1px solid rgba(0, 0, 0, 0.111);
}

#names:hover{
  color:peru;
}

[class*="tagslabel"]
  {
  display:grid;
  padding: 3px 6px;
  font-size: 15px;
  width:auto;
  font-weight: bold;
  color: #ffffff;
  background-color: #a89591;
  padding-right: 0px;
  padding-left: 0px;
  border-radius: 15px;
  margin-bottom:2px;
  justify-content: center;
  text-align: center;
  border: 2px solid rgb(175, 177, 178);
}

.tagslabel-orange{
  background-color: rgb(255, 157, 0);
}
.tagslabel-brown{
  background-color: rgb(119, 96, 59);
}
.tagslabel-red{
  background-color: rgb(167, 43, 34);
}
.tagslabel-pink{
  background-color: rgb(167, 34, 160);
}
.tagslabel-darkgreen{
  background-color: rgb(21, 93, 36);
}
.tagslabel-yellow{
  background-color: rgb(223, 203, 57);
}
.tagslabel-purple{
  background-color: rgb(168, 57, 223);
}
.tagslabel-darkbrown{
  background-color: rgb(107, 37, 10);
}
.tagslabel-lightorange{
  background-color: rgb(214, 169, 116);
}
.tagslabel-yellow{
  background-color: rgb(223, 203, 57);
}
.tagslabel-pastelgreen{
  background-color: rgb(143, 196, 148);
}
.tagslabel-blue{
  background-color: rgb(94, 134, 208);
}
.tagslabel-lightgreen{
  background-color: rgb(109, 152, 104);
}
.tagslabel-lightpink{
  background-color: rgb(217, 156, 205);
}

#spacer_info{
  color:black;
}

#vitamax
{
  display:flex;
  font-size: 6vh;
  color: white;
  text-align:center;
  align-self:center;    
  text-decoration: none;
  padding:0;
  max-width: 50vw;
  justify-content: center;
  padding-left:2.5%;
}

.button1{
  display: inline-block;
  background-color: transparent;
  padding-left: 2.5vw;
  padding-right:15px;
  margin-top:30px;
  font-weight: bold;
  font-size: 20px;
  transition: transform 0.2s;
  text-decoration: none;
  color:white;
}

.button1:hover{
  color: rgb(155, 132, 122);
  width:fit-content;
  height:20px;
  transition: 0.2s;
  text-decoration:none;
}

.button_container{
  align-items:center;
  justify-content: center;
  float:left;
}

th{
  background-color:#f1f1f1
}

.newclass{
display: flex;
}

#recordsfound{
  display:block;
  align-items:top;
  text-align:center;
  margin-bottom: 20px;
  font-size:larger;
}

#logbutton{

  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--yellow-color);
  border-radius: 4rem;
  color:rgb(250, 238, 238);
  font-weight: 600;
  cursor: pointer;
  border: transparent;
}