/*  variables for our project will be here */
:root {
    /*  The colours that we use often: */
    --yellow-color: rgb(222, 187, 104); 
    --white-color: rgb(255, 255, 255);
    --pink-color: rgb(153, 22, 101);
    --black-color: rgb(0, 0, 0);
  
    /* importing lato font*/
    @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
    --h1-font-size: 2rem;
    --small-font-size: 0.813rem;
    font-family: 'Poppins', sans-serif;
  }

  input[type="text"],input[type="email"] 
    {
    width: 20em;
    height:2em;
    }
  input[placeholder]
    {
    height:2em;
    }
  
  /*   assign attributes to everything + colour pallete vars here */
  
  #index_body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align:justify;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:120vh;
    background-image:url("fruitbg.jpg");
    background-position:center;
    background-size:cover;
    position:relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align:justify;
  }
  
  body, input, button {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
  }
 
  
  /*     login       */
  .login {
    position: relative;
    display: grid;
    align-items: center;
  }
  
  .login__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .loginform {
    position: relative;
    margin-inline: 1.5rem;
    background-color: rgba(240, 183, 183, 0.1);
    border: 2px solid rgba(222, 174, 78, 0.7);
    padding: 2.5rem 1rem;
    border-radius: 1.5rem;
    backdrop-filter: blur(8px);
  }
  
  .logtitle {
    text-align: center;
    font-size: var(--h1-font-size);
    margin-bottom: 1.25rem;
    color: 	#ffd562;
  }
  
  /* .container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:120vh;
    background-image:url("fruitbg.jpg");
    background-position:center;
    background-size:cover;
    position:relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
} */

  .inputcontainer, .boxarea {
    display: grid;
  }
  
  .inputcontainer {
    row-gap: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .boxarea {
    grid-template-columns: 1fr max-content;
    column-gap: .75rem;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.7);
    padding-inline: 1.25rem;
    border-radius: 4rem;
  }
  
  .userinput,
  .button {
    border: none;
    outline: none;
  }
  
  .userinput {
    width: 100%;
    background: none;
    padding-block: 1rem;
    color:rgb(255, 234, 180);

  }

  label.checkcontainerlabel{
    color:rgb(239, 130, 172);
  }

  a.forgot{
    margin-right: 10px;
    text-decoration:none;
  }
  
  .userinput::placeholder {
    color:#d2bc98e3
  }
  
  .boxarea i {
    font-size: 1.25rem;
  }
  
  .checkcontainer,
  .checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0;
    padding:0;
  }
  
  .checkcontainer {
    margin-bottom: 0rem;
    font-size: var(--small-font-size);
  }

  
  .checkcontainerinput {
    width: 3rem;
    height: 1rem;
    accent-color: var(--yellow-color);
  }
  
  .forgot {
    color: var(--yellow-color);
  }
  
  .forgot:hover {
    text-decoration: underline;
  }
  
  #logbutton{
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 4rem;
    background-color:yellow;
    color:rgb(250, 238, 238);
    font-weight: 600;
    cursor: pointer;
    padding-left: 2.5vw;
    padding-right:15px;
    margin-top:30px;
    font-weight: bold;
    font-size: 20px;
    transition: transform 0.2s;
    text-decoration: none;  
  }

  /* .button {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 4rem;
    color:rgb(250, 238, 238);
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
    padding-left: 2.5vw;
    padding-right:15px;
    margin-top:30px;
    font-weight: bold;
    font-size: 20px;
    transition: transform 0.2s;
    text-decoration: none;  
  } */
  
  .login__register {
    font-size: var(--small-font-size);
    text-align: center;
  }
  
  .login__register a {
    color: var(--yellow-color);
    font-weight: 500;
  }
  
  .login__register a:hover {
    text-decoration: underline;
  }
  
/* main css*/

#main_body{
  background-color: rgb(190, 189, 187);
  background:  linear-gradient(rgba(0, 0, 0, 0.177), rgba(0, 0, 0, 0.386)), url('fruits.jpg');
 
  color:#ffffff
}

table{
  margin-top:4vh;
  background-color:rgb(255, 255, 255);
  width: 96%;
  color: #2e2c2cc7;
  border-collapse: collapse;
  align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: none;
    margin-bottom:auto;
}
.table-container {
  max-height: 500px; 
  overflow-y: auto;
  border-collapse: collapse;

}

.names{
  color:#240606;
  background-color:rgba(128, 110, 110, 0.044);
  text-align:center;
}

.names:hover:nth-child(odd)
{
  color:green;
}
.names:hover:nth-child(even)
{
  color:rgb(207, 77, 13);
}

th, td {
  padding: 12px;
  text-align: left;
}

#nav{
  display:flex;
  width:180%;
  background-color:#ffffff;
  height: 15vh;  
  align-items: center;
  justify-content: left;
  box-shadow: 0 0 5px 0 rgba(112, 111, 111, 0.8), 0 2px 4px 0 rgba(13, 9, 51, 0.2);
}
.navsettings{
  display:flex;
}

th {
  background: rgb(255, 255, 255);
  color:var(--black-color);
}

tr:nth-child(odd)
{
  background: rgb(251, 250, 250);
  border-bottom:1px solid rgba(0, 0, 0, 0.111);
}
tr:nth-child(even)
{
  background: white;
  border-bottom:1px solid rgba(0, 0, 0, 0.111);
}

[class*="tagslabel"]
  {
  display:grid;
  margin-top:1vh;
  margin-right:5px;
  padding: 3px 6px;
  font-size: 15px;
  width:auto;
  font-weight: bold;
  color: #ffffff;
  background-color: #a89591;
  padding-right: 0px;
  padding-left: 0px;
  border-radius: 15px;
  margin-bottom:1vh;
  justify-content: center;
  text-align: center;
  border: 2px solid rgba(94, 96, 97, 0.247);
}

.tagslabel-orange{
  background-color: rgb(255, 157, 0);
}
.tagslabel-brown{
  background-color: rgb(146, 92, 6);
}
.tagslabel-red{
  background-color: rgb(209, 73, 64);
}
.tagslabel-pink{
  background-color: rgb(167, 34, 160);
}
.tagslabel-darkgreen{
  background-color: rgb(12, 116, 8);
}
.tagslabel-yellow{
  background-color: rgb(104, 193, 96);
}
.tagslabel-purple{
  background-color: rgba(150, 34, 232, 0.859);
}
.tagslabel-darkbrown{
  background-color: rgb(137, 68, 25);
}
.tagslabel-lightorange{
  background-color: rgba(228, 191, 26, 0.917);
}
.tagslabel-yellow{
  background-color: rgb(87, 150, 101);
}
.tagslabel-pastelgreen{
  background-color: rgb(143, 196, 148);
}
.tagslabel-blue{
  background-color: rgb(94, 134, 208);
}
.tagslabel-lightgreen{
  background-color: rgba(90, 162, 181, 0.673);
}
.tagslabel-lightpink{
  background-color: rgb(217, 156, 205);
}

#spacer_info{
  color:black;
}

#vitamax
{
  display:flex;
  text-align: flex-start;
  font-size: 6vh;
  padding-left:25%;
  text-decoration: none;
  background: linear-gradient(.25turn, #73dc78, 30%, rgb(243, 179, 75));
  -webkit-background-clip: text;
  background-clip:text;
  -webkit-text-fill-color:transparent;
  font-weight:bold;
  margin:auto;
}
.button_container{
  display:flex;
  align-self: flex-end; 
  text-align:end;
  margin-left:200%;
  justify-content:flex-end;
  align-items:center;
  align-self: flex-end

}

#search{
  margin-left:4%;
  color:#7a937df1;
  display: inline-block;
  background-color: transparent;
  font-weight: bold;
  font-size: 2vw;
  transition: transform 0.2s;
  text-decoration: none;
  display:grid;
  margin-right:5px;
  padding: 3px 6px;
  font-size: 1em;
  width:auto;
  border-radius: 15px;
  padding-left:4%;
  border: 3.5px solid #b1b1b1f1;
}


.button1{
  color:#d5c457f1;
  display: inline-block;
  background-color: transparent;
  padding-left: 2.5vw;
  padding-right:15px;
  font-weight: bold;
  font-size: 2vw;
  transition: transform 0.2s;
  text-decoration: none;
}
.button1:hover{
  color:#29a85171;
}

.button4:hover{
  color: #d5c45790;
  transition: 0.2s;
  text-decoration:none;
}

.button2
{
display:flexbox;
background-color: transparent;
align-items: center;
justify-self: center;
text-align: center;
font-weight: bold;
font-size: 2.5vh;
transition: transform 0.2s;
text-decoration: none;
}

.button3
{
  display: flexbox;
  padding-left:1.5;
  background-color: transparent;
  font-weight: bold;
  font-size: 3vh;
  text-decoration: none;
  color:#3a3a3a97;
}

.button3:hover{
  color:#770a0a8c;
}

.button4
{
  color:#9dc87df1;
  display: inline-block;
  font-size: 3.4vw;
  transition: transform 0.2s;
  text-decoration: none;
  align-items: center;
  justify-self: center;
  text-align: center;
  transition: transform 0.2s;
  text-decoration: none;
}

th{
  background-color:#f1f1f1
}

.newclass{
display: flex;
justify-content: flex-start;
}

#recordsfound{
  display:block;
  align-items:top;
  text-align:left;
  margin-left:2vw;
  margin-bottom: 20px;
  font-size:1vw;
  color:#ffffffdd;
}

#logbutton{

  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--yellow-color);
  border-radius: 4rem;
  color:rgb(250, 238, 238);
  font-weight: 600;
  cursor: pointer;
  border: transparent;
}

.open-modal
{
  display: flexbox;
  padding-left:1.5;
  background-color: transparent;
  font-weight: bold;
  font-size: 2.5vh;
  text-decoration: none;
  color:#3a3a3a97;
}

.open-modal:hover{
  color:#770a0a8c;
}

.data-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Adjust the z-index as needed */
}

.ri-pencil-fill{
  color:rgb(149, 149, 149);
  text-decoration:none;
}

.ri-pencil-fill:hover{
  cursor:pointer;
  color:#0f741b71;
}

i{
  cursor:pointer;
}

.main{
display: flex;
align-items: center;
justify-content: flex-end;
padding-right: 5%;}

/*modal*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#closeModalBtn {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

#closeModalBtn:hover {
  color: #000;
}
button {
  cursor: pointer;
  border: none;
  font-weight: 600;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.4rem;
  font-weight: 700;
  background-color: black;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
}

.btn-open {
  position: absolute;
  bottom: 150px;
}

.btn-close {
  display:flex;
  align-content: flex-end;
  padding: 0.5rem 0.7rem;
  background: #eee;
  border-radius: 50%;
}
#modal {
  display: "none";
}

/*------------MEDIA Queries------------------*/
@media screen and (max-width: 484px) {


}